h1 {
  color: lightseagreen;
  background-color: blueviolet;
  font-size: 48px;
}

h3 {
  font-size: 36px;
  color: hsl(59, 45%, 42%)
}

ul {
  font-size: 24px;
  font-weight: bold;
}

ol {
  font-size: 24px;
}

p {
  font-size: 24px;
}

.bruschetta {
  background-color:brown;
  color:crimson;
}

.bruschetta.bullet {
  color:black;
}

.texas-cake {
  background-color:aqua;
  color:blue;
}

.texas-cake.bullet {
  color: blueviolet;
}

.mac {
  background-color: yellow;
  color: orange;
}

.mac.bullet {
  color: red;
}

.img-container {
 text-align: center;
}

img {
  width: auto;
  height: 300px;
}